.list {
    width: 100%;
    background-color: var(--background-color);
    color: #222;
    padding: 0.5em 1em;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;

    --border-size: 2px;
    --accent-color: #1cf2d3;
}

.list-inactive {
    width: 100%;
    background-color: var(--background-color);
    color: #222;
    padding: 0.5em 1em;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;

    --border-size: 2px;
    --accent-color: #1cf2d3;
}

.list.list-background-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--accent-color);

    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.list.list-background-slide:hover::before,
.list.list-background-slide:focus::before {
    transform: scaleX(0.02);
}

.list.list-background-slide {
    transition: color 300ms ease-in-out;
    z-index: 1;
}

/* .list.list-background-slide:hover,
.list.list-background-slide:active,
.list.list-background-slide:focus {
    color: white;
    background-color: #2945a8;
} */

@keyframes slide-fade-in-dropdown-animation {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.slide-fade-in-dropdown {
    overflow: hidden;
}

.slide-fade-in-dropdown > ul {
    animation: slide-fade-in-dropdown-animation 0.4s ease;
}

/* fade out */

@keyframes slide-fade-out-dropdown-animation {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.slide-fade-out-dropdown {
    overflow: hidden;
}

.slide-fade-out-dropdown > ul {
    animation: slide-fade-out-dropdown-animation 0.4s ease;
    animation-fill-mode: forwards;
}

.accordion-collapse {
    height: 0;
    overflow: hidden;
    transition: height 200ms ease-in-out
}