@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Pretendard";
    font-weight: 100;
    font-display: swap;
    src: local("Pretendard Thin"),
        url("../../public/fonts/Pretendard-Thin.woff") format("woff");
}
@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard ExtraLight"),
        url("../../public/fonts/Pretendard-ExtraLight.woff") format("woff");
}
@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Light"),
        url("../../public/fonts/Pretendard-Light.woff") format("woff");
}
@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),
        url("../../public/fonts/Pretendard-Regular.woff") format("woff");
}
@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"),
        url("../../public/fonts/Pretendard-Medium.woff") format("woff");
}
@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),
        url("../../public/fonts/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"),
        url("../../public/fonts/Pretendard-Bold.woff") format("woff");
}
@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard ExtraBold"),
        url("../../public/fonts/Pretendard-ExtraBold.woff") format("woff");
}
@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    font-display: swap;
    src: local("Pretendard Black"),
        url("../../public/fonts/Pretendard-Black.woff") format("woff");
}
:root {
    --deep-blue-100: 46, 83, 218 /* #2e53da  */;
    --deep-blue-200: 41, 69, 168 /* #2945a8  */;
    --gray-25: 248, 250, 253; /* #F8FAFD */
    --gray-700: 73, 84, 116; /* #495474 */
}
:root.dark {
    --deep-blue-100: 37, 68, 179 /* #2544B3 */;
    --deep-blue-200: 55, 93, 230 /* #375DE6 */;
}
@layer base {
    html {
        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
            Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
            "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    }
    div {
        max-width: initial;
    }
}

@layer components {
    .icon-btn-sm {
        @apply w-6 h-6 flex items-center justify-center cursor-pointer;
    }
    .label-heading {
        @apply pb-2 inline-block font-medium;
    }
    .input-outlined {
        @apply inline-block px-2 py-1 rounded w-full outline-0 outline-none border-slate-300 border;
    }
    .input-outlined-error {
        @apply inline-block px-2 py-1 rounded w-full outline-0 outline-none border-rose-600 border-2;
    }
    .modal-body {
        @apply flex flex-col items-center w-full h-full px-8 py-8 overflow-scroll;
    }
}
